<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="nav-logo">
        <a href="./">CrownifyQuest.com</a>
      </div>

      <div class="nav-desktop">
        <ul class="nav-list">
          <li><a href="./">Home</a></li>
          <li><a href="battle-log.html">Race Log</a></li>
          <li><a href="hq-contacts.html">Get in Touch</a></li>
          <li><a href="./#how-to-play">How to Play</a></li>
          <li><a href="war-disclaimer.html">Legal Disclaimer</a></li>
        </ul>
      </div>

      <button class="mobile-menu-button" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="mobile-menu">
        <ul class="nav-list">
          <li><a href="./">Home</a></li>
          <li><a href="battle-log.html">Race Log</a></li>
          <li><a href="hq-contacts.html">Get in Touch</a></li>
          <li><a href="./#how-to-play">How to Play</a></li>
          <li><a href="war-disclaimer.html">Legal Disclaimer</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
